<div class="top-row">
  <app-pill [bg]="assignment().tagBg" [color]="assignment().tagColor" [bordered]="false" weight="500">
    {{ assignment().context }}
  </app-pill>
  <span class="due" [style.color]="assignment().dueColor">{{ dueLabel() }}</span>
</div>

<div class="title">{{ assignment().title }}</div>

<app-progress-bar [percent]="assignment().percentComplete" [color]="assignment().barColor" [label]="assignment().title + ' progress'" />

<div class="footer">
  <span>{{ assignment().status }}</span>
  <span class="pct">{{ assignment().percentComplete }}%</span>
</div>
